<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HIGH SCHOOL INCIDENCES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row *ngFor="let inc of incidences">
      <ion-card class="card-incidence-container">
        <ion-col size="3">
          <ion-item (click)="navigateToDetailsPage(inc.name)">
            {{inc.name}}
          </ion-item>
          
          </ion-col>
          <ion-col size="7" (click)="navigateToDetailsPage(inc.name)">
            {{inc.details}}
          </ion-col>
          <ion-col size="2">
            <ion-button (click)="deleteIncidence(inc)" color="danger">
              <ion-icon name="trash-outline" slot="end"></ion-icon>
            </ion-button>          
          </ion-col>
      </ion-card>      
    </ion-row>
  </ion-grid>

</ion-content>
