<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      INFORMATION 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <!-- Fila -->
    <ion-row>
      <!-- Columna que ocupa todo el ancho -->
      <ion-col size="12">
        <ion-card>
          <!-- IMG IES -->
          <div class="center">
            <img src="../../../assets/Images/ies-almunia.png"/>
          </div>
          <!-- FIN IMG IES -->
          <ion-card-header>
            <div class="center">
              <ion-card-subtitle>Escuela secundaria en Jerez de la Frontera</ion-card-subtitle>
            </div>
            <div class="center">
              <ion-card-subtitle> Calle Málaga, s/n, 11405 Jerez de la Frontera, Cádiz</ion-card-subtitle>
            </div>
            <div class="center">
              <ion-card-title>IES Almunia</ion-card-title>
            </div>            
          </ion-card-header>
          <ion-card-content>
            <P>El I.E.S. Almunia se encuentra situado en la Bda. San Enrique de Jerez de la Frontera (Cádiz). Se inauguró en 1989 y desde 1991 tiene el nombre actual.</P>
            <p>Este término es un arabismo que significa huerto o granja, quedando asi representado el nombre de la popular barriada que nutre, en importante medida, de alumnos/as el Centro (Bda. La Granja).</p>
          </ion-card-content>
        </ion-card>
      </ion-col><!-- Fin Columna -->
    </ion-row><!-- Fin Fila -->
  </ion-grid>
</ion-content>
