<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      REPORT INCIDENT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <form [formGroup]="this.incidencesForm">
          <!-- Nombre Incidencia -->
          <ion-input #name [formControlName]="'name'" placeholder="Incident"></ion-input>
          <ion-input #details [formControlName]="'details'" placeholder="Details"></ion-input>
        </form>
      </ion-col>
    </ion-row>
     <!-- BOTÓN -->
     <ion-row>
      <ion-col>
        <ion-button color="primary" size="large" (click)="addNewIncidence(name.value, details.value)">ADD INCIDENT</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
