<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>INFORMATION</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>INCIDENCES</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>REPORT</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
