<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>IncidenceDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>

    <ion-card>
      <ion-row>
        <ion-col>
      <ion-item>
        <ion-card-title>
          {{incident.name}}
        </ion-card-title>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
  <ion-item>
        <ion-card-subtitle>
          {{incident.details}}
        </ion-card-subtitle>
      </ion-item>
    </ion-col>
  </ion-row>
      
    </ion-card>  
  </ion-grid>  
</ion-content>
